body{
    font-family:"Hiragno Kaku Gothic ProN","メイリオ",sans-serif;
}

h1{
    margin:0 auto;
    margin-top:30px;
    margin-bottom:20px;
    border-left:4px red solid;
    background-color:#f1f1f1;
    padding:5px 0 5px 15px;
    width:500px;
    font-size:20px;
}

form{
    margin: 0 auto;
    border-radius:10px;
    border:3px solid #ebebeb;
    background-color:#fbfbfb;
    width:500px;
    
}
form div{
    padding:15px;
}

.text, textarea, .dropdown{
    border:1px solid #dfdfdf;
    padding:5px;
    color:#999;
    background:#fff;

}

.submit{
    background-color:rgb(155, 155, 155);
    color:white;
    border-radius:4px;  
    border-bottom:3px solid grey;
    border:1px solid lightgrey;
    padding:4px 10px;
}
